#produtos-lista {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}
#product-card{
  width: 100%;
}


@media (min-width: 992px) {
  #produtos-lista {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

  }
}
@media (min-width: 1200px) {
    #produtos-lista {
      grid-template-columns: repeat(3, 1fr);
    }
  }
