a {
  text-decoration: none; /* Remove o sublinhado */
  color: inherit;        /* Faz o link herdar a cor do elemento pai */
  font-weight: normal;   /* Remove o estilo de negrito (se houver) */
}

a:visited {
  color: inherit;        /* Remove a cor do link visitado */
}

a:hover, a:focus {
  text-decoration: none; /* Mantém o link sem sublinhado ao passar o mouse ou focar */
}

#produtos-lista {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}
#product-card{
  width: 100%;
}


@media (min-width: 992px) {
  #produtos-lista {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

  }
}
@media (min-width: 1200px) {
    #produtos-lista {
      grid-template-columns: repeat(3, 1fr);
    }
  }
