



.mt-4{
  margin-top: 8.0rem !important;
}

a {
  text-decoration: none; 
  color: inherit;     
  font-weight: normal;  
}

a:visited {
  color: inherit; 
}

a:hover, a:focus {
  text-decoration: none; 
}

#produtos-lista {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}
#product-card{
  width: 100%;
}

.footer-icon, .footer-text:hover{
  color: #000000;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.footer-icon:hover, .footer-text:hover {
  color: #008000;
}

@media (min-width: 992px) {
  #produtos-lista {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

  }
}
@media (min-width: 1200px) {
  #produtos-lista {
      grid-template-columns: repeat(3, 1fr);
  }

}
