body{
  margin: 0 ;
  padding: 0;
}

*{
  font-family: "Kanit", sans-serif;;
}
#product-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

@media (min-width: 992px) {
  #product-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}
@media (min-width: 1200px) {
  #product-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
.carousel-item {
  height: 100vh;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.carrousel-title-container {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.control-carrousel {
  z-index: 10;
}
